html {
  font-size: 16px;
}

.flex {
  display: flex;
}

.margin {
  margin: 0 0 0 0;
}

.maxwidth {
  max-width: 1440px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 8%;
}

body {
  font-family: proxima-nova, sans-serif;
  margin: auto;
  height: auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body-hid {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.logo > img {
  height: 52px;
  margin: 60px 0 20px 0;
}

.main-wrap {
  padding: 0 40px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 40px;
  height: 100%;
  position: fixed;
  background-color: #041C40;
}

.main-content {
  height: 100%;
  background-color: #9b1a47;
}

.main-text {
  flex-direction: column;

}

.main-text {
  align-items: center;
  text-align: center;
  align-self: center;
}

.main-right {
  background-image: url(https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: center;
  width: 25%;
  opacity: 0.58;
}

h3 {
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.8);
  font-weight: 500;
  letter-spacing: 0.04rem;
}

h2 {
  font-size: 46px;
  color: #fff;
  letter-spacing: 0.8rem;
  margin: 0;
  font-weight: 500;
}

.text {
  align-items: center;
}

.background {
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  z-index: -1;
}

.background > img {
  height: 100%;
}

.email > img {
  margin-right: 10px;
}

.contact {
  font-size: 18px;
  color: #fff;
  margin-right: 6px;
}

.email-text {
  color: #B8C8D8;
  font-size: 18px;
  text-decoration: none;
}

.email {
  align-items: center;
}



}

@media only screen and (max-width: 720px) {
  .main-right {
    visibility: hidden;
  }
}
